{% extends 'base.html.twig' %}

{% block body %}
    {% for category in categoriesAndActiveNotExpiredJobs %}
        <table class="table table-hover text-center">
        <thead><h4><a href="{{ url('category.allJobs', {slug: category.slug}) }}">&nbsp;{{ category.name }}</a></h4></thead>
        <tr class="active">
            <th class="text-center col-md-2"><a href="{{ url('job.list', {field: 'location', direction: 'ASC'}) }}">City</a></th>
            <th class="text-center col-md-3"><a href="{{ url('job.list', {field: 'position', direction: 'ASC'}) }}">Position</a>
            </th>
            <th class="text-center col-md-3"><a href="{{ url('job.list', {field: 'company', direction: 'ASC'}) }}">Company</a>
            </th>
            <th class="text-center col-md-2"><a href="{{ url('job.list', {field: 'createdAt', direction: 'ASC'}) }}">Created
                    at</a>
            </th>
        </tr>

        {% for job in category.jobs | slice(0, max_jobs_on_homepage) %}
            <tr>
                <td>{{ job.location }}</td>
                <td>
                    <a href="{{ url('job.show', {id: job.id}) }}">{{ job.position }}</a>
                </td>
                <td>{{ job.company }}</td>
                <td>{{ job.createdat|date("d/m/Y") }}</td>
            </tr>
        {% endfor %}
    {% endfor %}

    </table>
{% endblock %}
