{% extends 'base.html.twig' %}

{% block body %}
    <table class="table table-hover text-center">
        <tr class="active">
            <th class="text-center"><a href="{{ url('job.list') }}?sort_by=location&order=ASC">City</a></th>
            <th class="text-center"><a href="{{ url('job.list') }}?sort_by=position&order=ASC">Position</a></th>
            <th class="text-center"><a href="{{ url('job.list') }}?sort_by=company&order=ASC">Company</a></th>
            <th class="text-center"><a href="{{ url('job.list') }}?sort_by=createdAt&order=ASC">Created at</a></th>
            <th class="text-center"><a href="{{ url('job.list') }}?sort_by=expiresAt&order=ASC">Expires at</a></th>
        </tr>

        {% for job in jobs %}
            <tr>
                <td>{{ job.location }}</td>
                <td>
                    {{ job.position }}
                </td>
                <td>{{ job.company }}</td>
                <td>{{ job.createdat|date("d/m/Y") }}</td>
                <td>{{ job.expiresat|date("d/m/Y") }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
